<% include ./partials/header %>

<div class="ui container">
    <h1>About Teddy's Auto</h1>
    <div class="ui stackable grid">
        <div class="ten wide column">
        <hr>
            <p><strong>Teddy's Auto Sales has been family owned and operated since 1984 selling cars INTERNATIONALLY and LOCALLY!</strong></p>        
            <p>We would absolutely love to earn your 
            business and trust! One thing that distinguishes our 
            business from the rest, is that we truly bring a unique 
            and comfortable family atmosphere to our dealership. 
            Whether it is our rare collection of antique cars and 
            trucks, our years of experience, or our honest and 
            family orientated way of doing business, I know you 
            will find something to love here at Teddy's Auto 
            Sales!  We also are members of the Iowa Automotive 
            Dealers Association and the Hawk A antique club. 
            Once you buy a Automobile from us, you become 
            part of our special and growing family!</p>
        </div>
        <div class="four wide column">
            <table class="ui celled table">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td>8:00 am - 6:00 pm</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>8:00 am - 6:00 pm</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>8:00 am - 6:00 pm</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>8:00 am - 6:00 pm</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>8:00 am - 7:00 pm</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>8:00 am - 5:00 pm</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>Closed</td>
                </tr>
            </tbody>
        </div>
    </div>
</div>

<% include ./partials/footer %>